*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, purple, brown);
}

h1{ 
    color: #FFF;
    font-size: 13rem;
    font-style: italic;
}